ul {
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 50px;
}

.text {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 20px 0px;
}