/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import url(https://db.onlinewebfonts.com/c/0bd2c98a45d8f4051de91ba8fb420b6c?family=Noto+Serif);
@import url(https://db.onlinewebfonts.com/c/07689d4eaaa3d530d58826b5d7f84735?family=Montserrat-Regular);

@font-face {
  font-family: "Noto Serif";
  src: url("https://db.onlinewebfonts.com/t/0bd2c98a45d8f4051de91ba8fb420b6c.eot");
  src: url("https://db.onlinewebfonts.com/t/0bd2c98a45d8f4051de91ba8fb420b6c.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0bd2c98a45d8f4051de91ba8fb420b6c.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0bd2c98a45d8f4051de91ba8fb420b6c.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0bd2c98a45d8f4051de91ba8fb420b6c.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/0bd2c98a45d8f4051de91ba8fb420b6c.svg#Noto Serif")format("svg");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("https://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.eot");
  src: url("https://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.svg#Montserrat-Regular")format("svg");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}


body {
  font-family: "Noto Serif", "";
  font-style: normal;
  background-color: #181818;
}

.container {
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  width: 100%;
}

img {
  vertical-align: middle;
}